{
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "15.4.1"
    }
  },
  "globals": {
    "ymaps": true
  },
  "rules": {
    "semi": ["error", "never"],
    "linebreak-style": "off",
    "max-len": ["error", 140],
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-console": "off",
    "spaced-comment": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-useless-path-segments": "off",
    "import/extensions": "off",
    "react/prop-types": "off",
    "dot-notation": "off",
    "no-restricted-imports": ["error", "rxjs", "react-widgets", "react-id-swiper", "react-chartjs"],
    "operator-linebreak": "off",
    "implicit-arrow-linebreak": "off",
    "react/destructuring-assignment": "off",
    "prefer-destructuring": "off",
    "object-curly-newline": ["off", {
      "ObjectExpression": { "minProperties": 0, "multiline": true },
      "ObjectPattern": { "minProperties": 0, "multiline": true }
    }],
    "function-paren-newline": "off",
    "no-else-return": ["error", { "allowElseIf": true }],
    "padded-blocks": ["error", "never"],
    "camelcase": ["error", { "properties": "never" }],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/iframe-has-title": "off",
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/media-has-caption": "off",
    "react/jsx-tag-spacing": "off",
    "no-restricted-globals": "off",
    "react/require-default-props": "off",
    "react/no-array-index-key": "off",
    "react/jsx-one-expression-per-line": "off",
    "no-multi-spaces": "error",
    "react/jsx-closing-tag-location": "off",
    "react/jsx-curly-brace-presence": "off",
    "react/button-has-type": "off",
    "import/no-named-default": "off",
    "react/jsx-max-props-per-line": ["off", { "maximum": 1 }],
    "react/no-access-state-in-setstate": "off",
    "react/default-props-match-prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/jsx-props-no-multi-spaces": "off",
    "no-useless-escape": "error",
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "no-return-assign": ["error", "except-parens"],
    "lines-between-class-members": "off",
        "comma-dangle": ["error", {
          "arrays": "always-multiline",
          "exports": "always-multiline",
          "functions": "ignore",
          "imports": "always-multiline",
          "objects": "always-multiline"
        }]
  },
   "parser": "babel-eslint"
}
